In [38]:
import yfinance as yf
import edgar
import requests
import time
import pandas as pd

In [23]:
msft = yf.Ticker("MSFT")

yfinance.Ticker object <MSFT>

In [26]:
hist = msft.history(period="5y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-04-09 00:00:00-04:00,112.922994,113.789219,112.875403,113.541725,17612000,0.0,0.0
2019-04-10 00:00:00-04:00,113.998637,114.560250,113.789220,114.407951,16477200,0.0,0.0
2019-04-11 00:00:00-04:00,114.741095,115.036180,114.150919,114.541199,14209100,0.0,0.0
2019-04-12 00:00:00-04:00,114.836294,115.159941,114.579286,115.131378,19745100,0.0,0.0
2019-04-15 00:00:00-04:00,115.121854,115.731064,114.769651,115.226562,15792600,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-02 00:00:00-04:00,420.109985,422.380005,417.839996,421.440002,17912000,0.0,0.0
2024-04-03 00:00:00-04:00,419.730011,423.260010,419.089996,420.450012,16502300,0.0,0.0
2024-04-04 00:00:00-04:00,424.989990,428.670013,417.570007,417.880005,19370900,0.0,0.0
2024-04-05 00:00:00-04:00,420.010010,426.510010,418.320007,425.519989,16544300,0.0,0.0
2024-04-08 00:00:00-04:00,425.170013,427.279999,423.299988,424.589996,14262100,0.0,0.0

In [56]:
hist.index.get_loc("2021-02-18")

469

In [59]:
dates = ['2020-01-06', '2021-02-15', '2022-03-10']

In [36]:
start_index = hist.index.get_loc(dat)
start_price = hist.iloc[start_index]['Open']
end_price = hist.iloc[start_index + 4]['Open']

four_day_return = (end_price - start_price) / start_price * 100
four_day_return

3.654182718254943

In [64]:
four_day_returns = {}

for date_str in dates:

    date = pd.Timestamp(date_str, tz='America/New_York')

    while date not in hist.index:
        print(date)
        date += pd.Timedelta(days=1)

    start_index = hist.index.get_loc(date)

    start_price = hist.iloc[start_index]['Open']
    end_price = hist.iloc[start_index + 4]['Open']
    
    four_day_return = (end_price - start_price) / start_price * 100
    four_day_returns[date] = four_day_return

four_day_returns

2021-02-15 00:00:00-05:00

{Timestamp('2020-01-06 00:00:00-0500', tz='America/New_York'): 3.654182718254943,
 Timestamp('2021-02-16 00:00:00-0500', tz='America/New_York'): -2.8825785484002777,
 Timestamp('2022-03-10 00:00:00-0500', tz='America/New_York'): 2.1518013532791707}